<br />
<br />
<br />
<app-avatar></app-avatar>
<app-button text="Login" [isDisabled]="true"></app-button>
<app-button text="Cadastro" (click)="submit()"></app-button>
<br />
<br />
<br />

<app-upload-image
  [refFormControl]="getReference('image')"
  [previewImage]="'assets/images/avatar.svg'"
  (onChangeImage)="onChangeImage()"
></app-upload-image>

<br />
<br />
<br />

<app-input
  type="text"
  image="assets/images/mail.svg"
  placeholder="E-mail"
  [refForm]="getReference('name')"
></app-input>

<app-input
  type="text"
  image="assets/images/key.svg"
  placeholder="Senha"
  [refForm]="getReference('password')"
></app-input>
