/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts.scss";

:root {
  --fontRegular: "Biennale Regular", sans-serif;
  --fontBold: "Biennale Bold", sans-serif;
  --fontLight: "Biennale Light", sans-serif;

  --primaryColor: #5E49FF;
  --primaryColor1: #3BD42D;
  --primaryColor2: #25CBD3;
  --primaryColor3: #F0F5FF;

  --gray: #F4F4F4;
  --gray1: #DADADA;
  --gray2: #7C7786;
  --gray3: #4D4D4D;
  --gray4: #333333;

  --white: #FFF;
}

* {
  font-family: var(--fontRegular);
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.hidden {
  display: none!important;
}
