/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts.scss";
@import "./assets/styles/variables.scss";

:root {
  --fontRegular: "Biennale Regular", sans-serif;
  --fontBold: "Biennale Bold", sans-serif;
  --fontLight: "Biennale Light", sans-serif;

  --primaryColor: #5e49ff;
  --primaryColor1: #3bd42d;
  --primaryColor2: #25cbd3;
  --primaryColor3: #f0f5ff;

  --gray: #f4f4f4;
  --gray1: #dadada;
  --gray2: #7c7786;
  --gray3: #4d4d4d;
  --gray4: #333333;

  --white: #fff;
  --red: #ff0000;
}

* {
  font-family: var(--fontRegular);
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.hidden {
  display: none !important;
}

input {
  &::placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: var(--gray2);
  }
}

.errorMessage {
  color: var(--red);
  margin: 5px 0 0;
  font-size: 90%;
}

.desktop {
  display: none;

  @media screen and (min-width: $breakpointDesktop) {
    display: block;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $breakpointDesktop) {
    display: none !important;
  }
}
